<!-- <div>
    <form>
      User name: <input type="text" name="username"  [(ngModel)]="username">
      <br><br>
      Password: <input type="password" name="password"  [(ngModel)]="password">
      <br><br>
      <button type="submit" (click)="navigateToLogin1()">Login</button>
    </form>
  </div> -->
  <div class="home-container">
    <h1 class="home-title">Welcome to ShrinkIt</h1>
    <p class="home-description">Shrink your URLs with ease. Get more clicks and track your links seamlessly.</p>
    <button class="register-button" (click)="goto('home/register')">Register Now</button>
  </div>