<div class="app-container">
    <header>
      <h1 class="app-title">URL App</h1>
    </header>
    
    <!-- Navigation buttons -->
    <nav class="navbar">
      <button class="nav-button" (click)="goto('home/homepage')">Home Page</button>
      <button class="nav-button" (click)="goto('home/plans')">Plans</button>
      <button class="nav-button" (click)="goto('home/about')">About</button>
      <button class="login-button" (click)="goto('home/login')">Login</button>
    </nav>
    
    <!-- Router outlet to load components -->
    <router-outlet></router-outlet>
  </div>
  