<div class="dashboard-container">
    <h1>Welcome to the Admin Dashboard</h1>
    <p>Manage users, queries, transactions, plans, and more from here.</p>
  
    <div class="card-grid">
      <button class="dashboard-card" (click)="goto('admin/blacklistusers')">Blacklist User</button>
      <button class="dashboard-card" (click)="goto('admin/homepage')">Manage Plans</button>
      <button class="dashboard-card" (click)="goto('admin/viewallqueries')">Manage Queries</button>
      <button class="dashboard-card" (click)="goto('admin/viewallurls')">Manage URLs</button>
      <button class="dashboard-card" (click)="goto('admin/getallusers')">Manage Users</button>
    </div>
  </div>
  